<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<!-- Ricardo Lopez -->
<!-- February 7 2013 -->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>The Form</title>
</head>

<body>
	<h1>Rolling Stone's Top 100 Albums of All Time</h1>
	<h5>Sorted by <%= @sort.capitalize %></h5>
	<div id="ranking">
		<table>
			<% @albums.each do |album| %>
			<tr <%= " class=\"highlight\"" if @highlight == album.rank %>>
				<td><%= album.rank %></td>
				<td><%= album.title %></td>
				<td><%= album.year %></td>
			</tr>
			<% end %>
		</table>
	</div>
</body>

</html>